In [1]:
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, extract

from db_info import db_user, db_password, db_name

import datetime

In [2]:
# Create the engine
connect_string = f"postgresql://{db_user}:{db_password}@localhost:5432/{db_name}"
engine = create_engine(connect_string)

In [3]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

# We can view all of the classes that automap found
Base.classes.keys()

['census', 'cms']

In [4]:
# Save references to each table
Census = Base.classes.census
Cms = Base.classes.cms

In [5]:
# Read in target dataframes
census_df = pd.read_csv("ETL-Results/census_data.csv", dtype=str)
cms_df = pd.read_csv("ETL-Results/four_mort_measures.csv", dtype=str)

In [6]:
print(len(census_df))
census_df.head()

3142

,County Name,State,Household Median Income,Family's Median Income,Total Population,State Code,County Code,State Abbr
0,ST. CLAIR,Alabama,58308,68977,87989,01,115,AL
1,CULLMAN,Alabama,44918,56490,82853,01,043,AL
2,HOUSTON,Alabama,47580,60763,104702,01,069,AL
3,TUSCALOOSA,Alabama,53326,68736,207305,01,125,AL
4,COFFEE,Alabama,55637,67551,51662,01,031,AL

In [7]:
census_df[census_df["County Name"].str.contains('SITKA', case = False)]

,County Name,State,Household Median Income,Family's Median Income,Total Population,State Code,County Code,State Abbr
75,SITKA CITY AND BOROUGH,Alaska,73682,91935,8640,02,220,AK

In [8]:
def fix_county_name(string):
    
    if string == "DEKALB":
        return "DE KALB" 
    if string == "DUPAGE":
        return "DU PAGE" 
    elif string == "DISTRICT OF COLUMBIA":
        return "THE DISTRICT"
    elif string == "ANCHORAGE MUNICIPALITY":
        return "ANCHORAGE"
    elif string == "PRINCE GEORGE\'S":
        return "PRINCE GEORGES"
    elif string == "MCDOWELL":
        return "MC DOWELL"
    elif string == "MCHENRY":
        return "MC HENRY"
    elif string == "LASALLE":
        return "LA SALLE"
    elif string == "MCKEAN":
        return "MC KEAN"
    elif string == "MCDUFFIE":
        return "MC DUFFIE"
    elif string == "EAST BATON ROUGE":
        return "E. BATON ROUGE"
    elif string == "LAPORTE":
        return "LA PORTE"
    elif string == "DEWITT":
        return "DE WITT"
    elif string == "JUNEAU CITY AND BOROUGH":
        return "JUNEAU"
    elif string == "KENAI PENINSULA BOROUGH":
        return "KENAI PENINSULA"
    elif string == "MATANUSKA-SUSITNA BOROUGH":
        return "MATANUSKA-SUSITNA"    
    elif string == "DESOTO":
        return "DE SOTO"
    elif string == "DOÃ‘A ANA":
        return "DONA ANA"
    elif string == "LA PAZ":
        return "LAPAZ"
    elif string == "MCLEAN":
        return "MC LEAN"
    elif string == "MCCRACKEN":
        return "MC CRACKEN"
    elif string == "MCDONOUGH":
        return "MC DONOUGH"    
    elif string == "KETCHIKAN GATEWAY BOROUGH":
        return "KETCHIKAN GATEWAY"
    elif string == "SCOTTS BLUFF":
        return "SCOTT BLUFF"
    elif string == "NORTHUMBERLAND":
        return "NORTHUMBERLND"   
    elif string == "MCLENNAN":
        return "MC LENNAN"
    elif string == "MCMINN":
        return "MC MINN"
    elif string == "FAIRBANKS NORTH STAR BOROUGH":
        return "FAIRBANKS NORTH STAR"
    elif string == "MCLEOD":
        return "MC LEOD"
    elif string == "YELLOW MEDICINE":
        return "YELLOW MEDCINE"
    elif string == "SITKA CITY AND BOROUGH":
        return "SITKA BOROUGH"
    else: 
        return string

census_df['County Name'] = census_df['County Name'].apply(lambda x: fix_county_name(x))

In [9]:
print(len(cms_df))
cms_df.head()

13555

,Facility ID,Facility Name,Address,City,State,ZIP Code,County Name,Measure ID,Measure Name,Denominator,Score,Lower Estimate,Higher Estimate,Start Date,End Date
0,50704,MISSION COMMUNITY HOSPITAL,14850 ROSCOE BLVD,PANORAMA CITY,CA,91402,LOS ANGELES,MORT_30_COPD,Death rate for COPD patients,207,5.1,3.6,6.9,7/1/2016,6/30/2019
1,330185,JOHN T MATHER MEMORIAL HOSPITAL OF PORT JEFFE...,75 NORTH COUNTRY ROAD,PORT JEFFERSON,NY,11777,SUFFOLK,MORT_30_COPD,Death rate for COPD patients,507,5.1,3.9,6.6,7/1/2016,6/30/2019
2,50625,CEDARS-SINAI MEDICAL CENTER,8700 BEVERLY BLVD,LOS ANGELES,CA,90048,LOS ANGELES,MORT_30_COPD,Death rate for COPD patients,504,5.2,4,6.6,7/1/2016,6/30/2019
3,140034,SSM HEALTH ST MARY'S HOSPITAL -CENTRALIA,400 NORTH PLEASANT AVENUE,CENTRALIA,IL,62801,MARION,MORT_30_COPD,Death rate for COPD patients,531,5.2,3.9,6.8,7/1/2016,6/30/2019
4,50739,CENTINELA HOSPITAL MEDICAL CENTER,555 EAST HARDY STREET,INGLEWOOD,CA,90301,LOS ANGELES,MORT_30_HF,Death rate for heart failure patients,568,5.3,4.2,6.7,7/1/2016,6/30/2019

In [10]:
# Remove Some Items due to county issues
cms_df = cms_df[cms_df["State"] != "PR"]
cms_df = cms_df[cms_df["State"] != "GU"]
cms_df = cms_df[cms_df["State"] != "MP"]
cms_df = cms_df[cms_df["State"] != "VI"]

cms_df = cms_df[cms_df["County Name"] != "OBRIEN"]
cms_df = cms_df[cms_df["County Name"] != "JEFFRSON DAVIS"]

cms_df = cms_df[(cms_df["County Name"] != "LASALLE") & (cms_df["State"] != "LA")]
cms_df = cms_df[(cms_df["County Name"] != "ST. MARYS") & (cms_df["State"] != "MD")]
cms_df = cms_df[(cms_df["County Name"] != "MCLEAN") & (cms_df["State"] != "MD")]

In [11]:
# Open a DB session
session = Session(engine)

In [12]:
try:
    num_rows_deleted = session.query(Cms).delete()
    print(f"cms deleted: {num_rows_deleted}")
    session.commit()
except:
    session.rollback()

cms deleted: 13013

In [13]:
try:
    num_rows_deleted = session.query(Census).delete()
    print(f"census deleted: {num_rows_deleted}")
    session.commit()
except:
    session.rollback()

census deleted: 3142

In [14]:
for index, row in census_df.iterrows(): 
    
    new_census = Census(
        county_name = row["County Name"],
        state = row["State"],
        household_median_income = int(row["Household Median Income"]),
        family_median_income = int(row["Family's Median Income"]),
        total_population = int(row["Total Population"]),
        state_code = row["State Code"],
        county_code = row["County Code"],
        state_abbr = row["State Abbr"]
    )
    
    session.add(new_census)

In [15]:
session.commit()

In [16]:
for index, row in cms_df.iterrows(): 
    
    new_cms = Cms(
        facility_id = row["Facility ID"],
        facility_name = row["Facility Name"],
        address = row["Address"],
        city = row["City"],
        state = row["State"],
        zip_code = row["ZIP Code"],
        county_name = row["County Name"],
        measure_id = row["Measure ID"],
        measure_name = row["Measure Name"],
        denominator = int(row["Denominator"]),
        score = float(row["Score"]),
        lower_estimate = float(row["Lower Estimate"]),
        higher_estimate = float(row["Higher Estimate"]),
        start_date = datetime.datetime.strptime(row["Start Date"], "%m/%d/%Y").date(),
        end_date = datetime.datetime.strptime(row["End Date"], "%m/%d/%Y").date()
    )
    
    session.add(new_cms)

In [17]:
session.commit()

In [18]:
# Close the DB session
session.close()